body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.heading {
    margin: auto;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchInput {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.movie-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    height: 280px;
    width: 280px;
    margin-right: 25px;
}

.movie {
    display: flex;
}

.movie-card {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.pagination {
    display: inline-block;
    margin-top: 10px;
}

.pagination button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 2px;
}

.pagination span {
    padding: 5px 10px;
}
